<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" type="text/css" href="css/jass.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <header>
        <navbar>
            <button class="btn" id="home">Home</button>
            <button class="btn" id="dashboard">Dashboard</button>
            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/profile">Profile</a> |
                <button class="bt" id="logout">Logout</button>
                {{else}}
                <a href="/login" class="btn">Login</a>
                {{/if}}
            </nav>
        </navbar>
        <h1>The Tech Blog</h1>
    </header>

    <main class="maindisplay">
        {{{ body }}}
    </main>

</body>

</html>